{{define "article.publish"}}

{{template "layout.header" .}}

{{template "layout.nav" .}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
<link href="/assets/static/cherry-markdown/cherry-markdown.css" rel="stylesheet">
<link href="/assets/static/cherry-markdown/basic.md" rel="preload">
<div class="container-fluid">
    <div class="m-auto box">
        <div class="content bg-white p-4 rounded-2">
            <h5>发布话题</h5>
            <form action="/publish" method="post" class="mt-4">
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <select name="node_id" class="form-select-sm me-2">
                            <option selected value="0">选择话题分类</option>
                            {{range .data.nodes}}
                            <option value="{{.ID}}">{{.Name}}</option>
                            {{end}}
                        </select>
                        <input type="text" class="form-control" name="title" placeholder="话题标题"
                               value="{{.flash.Title}}">
                    </div>
                </div>
                <div class="mb-3">
                    <div id="markdown"></div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"
                           placeholder="标签（请用半角逗号分隔每个标签，最多3个，每个最长15字符）非必填 " name="tags"
                           value="{{.flash.Tags}}">
                </div>
                <div class="mb-3 error-box"></div>
                <div class="mb-3">
                    <input type="hidden" name="md_content" id="md_content" value="{{.flash.MDContent}}">
                    <input type="hidden" name="content" id="content" value="{{.flash.Content}}">
                    <button class="btn btn-dark col-2 form-control-lg submit-btn">提交</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
<script src="/assets/static/frontend/js/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.js"></script>
<script src="/assets/static/cherry-markdown/cherry-markdown.min.js"></script>
<script src="/assets/static/cherry-markdown/scripts/pinyin/pinyin_dist.js"></script>
<script src="/assets/static/cherry-markdown/scripts/index-demo.js"></script>

{{template "layout.footer" .}}
{{end}}
