{{define "home.index"}}

{{template "layout.header" .}}

{{template "layout.nav" .}}

{{template "layout.msg" .}}

<div class="container-fluid">
    <div class="m-auto box">
        <div class="content">
            <div class="left-content bg-white rounded-top shadow-sm">
                <div class="p-2 bg-white font-monospace border-bottom rounded-top">
                    <!--todo  这里url后续记的改-->
                    <a href="/community/article/list"
                       class='ms-2 btn btn-sm btn-dark  text-decoration-none'>所有</a>
                    {{range .data.types}}
                    <a href="/?type={{.Alias}}"
                       class='ms-2 {{if eq $.data.type .Alias}}btn btn-sm btn-dark text-white{{else}}text-secondary{{end}} text-decoration-none'>{{.Name}}</a>
                    {{end}}
                </div>
                <div class="list p-3  bg-white">
                    {{if .data.articles}}
                    {{range .data.articles}}
                    <div class="item mb-3 border-bottom pb-3 pe-3 ps-3 rounded-1">
                        <div class="avatar d-inline-block mt-2">
                            <a href="/user?id={{.Users.ID}}">
                                <img src="{{.Users.Avatar}}" class="rounded-2" height="48" width="48">
                            </a>
                        </div>
                        <div class="ms-2 text-secondary d-inline-block align-top" style="width: 700px;">
                            <p class="mb-0 mb-1">

                                <a href="/topics/{{.ID}}" class="text-decoration-none table-hover text-dark">{{.Title}}</a>
                            </p>
                            <p class="mb-0 small" style="line-height: 1.5;color: #adaaa8;">
                                <span class="me-1">
                                    <a href="/user?id={{.Users.ID}}" class="text-decoration-none"
                                       style="color: #adaaa8;">
                                        <i class="fa fa-user-circle-o"></i> {{.Users.Name}} •
                                    </a>
                                </span>
                                <span class="me-1"> <i
                                        class="fa fa-clock-o"></i> {{DiffForHumans .CreatedAt}} •</span>
                            </p>


                        </div>
                    </div>
                    {{end}}
                    {{else}}
                    <div class="p-4 text-secondary text-center small">
                        暂无内容
                    </div>
                    {{end}}
                </div>

            </div>
            <div class="right-content">

                <div class="mt-2 p-3 bg-white rounded-2 shadow-sm rounded-2">
                    <i class="fa fa-home fw-bold"> 社区介绍</i>
                    <hr>
                    <p class="small">
                    </p>
                </div>
                <!--                <div class="mt-2 p-3 bg-white rounded-2 shadow-sm rounded-2">-->
                <!--                    <i class="fa fa-line-chart fw-bold"> 社区统计</i>-->
                <!--                    <hr>-->
                <!--                    <div><i class="fa fa-user"></i> 会员数: <span class="text-secondary"> 50</span></div>-->
                <!--                    <div><i class="fa fa-podcast"></i> 话题数: <span class="text-secondary"> 20</span></div>-->
                <!--                    <div><i class="fa fa-comment"></i> 回复数: <span class="text-secondary"> 30</span></div>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>
<script src="/assets/static/frontend/js/jquery.min.js"></script>
<script>
    $(function () {
        $('.checkin-btn').on('click', function () {
            let self = $(this)
            self.attr("disabled", true)
            $.ajax({
                url: '/checkins',
                type: 'POST',
                data: {
                    user_id: $(this).attr("data-id"),
                },
                dataType: 'json',
                success: function (res) {
                    self.attr("disabled", false)
                    if (res.code === 0) {
                        self.removeClass("btn-dark").addClass("btn-secondary disabled")
                    }
                },
                error: function (res) {
                    console.log(res)
                }
            })
        })
    })
</script>
{{template "layout.footer" .}}
{{end}}