{{define "layout.header"}}
{{template "layout.msg" .}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{.name}}-{{.title}}</title>
    <link rel="icon" href="/frontend/img/logo.png">
    <link href="/assets/static/frontend/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/static/frontend/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/static/frontend/css/common.css" rel="stylesheet">
    <link href="/assets/static/frontend/css/papercolor-light.min.css" rel="stylesheet"/>
</head>
<body>
{{end}}